dietafacil-notificacoes-.json
{
  "createdAt": "2025-05-09T14:54:57.320Z",
  "updatedAt": "2025-05-13T10:44:45.960Z",
  "id": "FMWgr898tHuzAPTF",
  "name": "dietaFacil Notificacoes",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -840,
        440
      ],
      "id": "ec0a135a-8dfa-4751-b11f-01e341083b5f",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "diary_days",
        "filters": {
          "conditions": [
            {
              "keyName": "date",
              "keyValue": "={{ $now.format('yyyy-MM-dd') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -240,
        80
      ],
      "id": "8238ac72-ceb2-42ec-8965-70c9d9ec3463",
      "name": "Supabase",
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5385cf71-f896-4d51-bb96-3ada4e09c671",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -40,
        20
      ],
      "id": "c5920a74-c3e1-471d-b0f9-7bf335c1d7e7",
      "name": "Filter",
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        780,
        440
      ],
      "id": "f81adb34-9cc7-4343-b187-771f61dc2661",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "amount": 20
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2360,
        540
      ],
      "id": "905780bb-4ed6-48a8-9a6b-21e3cae4d4e5",
      "name": "Wait",
      "webhookId": "abf1d5c1-ddc4-4ba0-a68a-a0d340cfaec8"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e5a9f363-1ac1-4348-b9ce-b39905c2381e",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1440,
        520
      ],
      "id": "fdc84790-8143-4c83-9c76-ecb00f26aa0e",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "=Dieta Fácil Homologacao",
        "remoteJid": "={{ $json.whatsapp }}",
        "messageText": "={{ $json.message }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        2060,
        360
      ],
      "id": "320024a3-160c-42bf-b54f-92f19cb06503",
      "name": "Evolution API",
      "credentials": {
        "evolutionApi": {
          "id": "8Vyn5rMuwjwiaAUs",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f0c87c40-f690-4656-962c-7b2e9cc38e77",
              "name": "message",
              "value": "🍽️ **Oi! Tudo bem por aí?** 🌞\n\n🥗 Só passando para lembrar que estou esperando o registro do seu consumo de hoje! 📝\n\n💪 Lembra que cada refeição registrada é um passo mais perto dos seus objetivos? Mesmo aquele chocolatinho escondido conta! 🍫🙈\n\n🔍 Me conte tudo o que você comeu hoje:\n- Café da manhã? 🍳\n- Almoço? 🍛\n- Jantar? 🍽️\n- Aquele lanchinho? 🥪\n- E a água? 💧\n\n⭐ Manter o acompanhamento diário faz TODA a diferença nos resultados!\n\n📊 Estou pronto para calcular seus macros e te manter no caminho certo! Vamos nessa? 🚀",
              "type": "string"
            },
            {
              "id": "dd09ad2f-a752-4f9c-9df7-9825b5bacbe1",
              "name": "whatsapp",
              "value": "={{ $('Loop Over Items').item.json.whatsapp }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1800,
        360
      ],
      "id": "465d5ab1-7bf2-45d2-af17-fd2d4d331c42",
      "name": "Edit Fields"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1420,
        340
      ],
      "id": "f22c3166-e097-4c33-ac35-b684ccb785a9",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8a13c0cc-2392-46bc-a807-77e10a1e4cbb",
              "leftValue": "={{ $json.whatsapp }}",
              "rightValue": "558596122854",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -180,
        440
      ],
      "id": "626c5c95-e5dc-429b-b5de-63830f51876a",
      "name": "Se existe"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "85cf24d0-3ea4-414e-92a2-509ab0a671f0",
              "leftValue": "={{ $json.whatsapp }}",
              "rightValue": "558599028259",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        320,
        440
      ],
      "id": "26315c81-3e92-41a1-9bb7-f62545c4aad5",
      "name": "Se for eu",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "users",
          "mode": "list",
          "cachedResultName": "users"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -600,
        440
      ],
      "id": "f37e397c-f6c3-4e2f-ab64-24c7c1ea8649",
      "name": "Lista usuarios",
      "credentials": {
        "postgres": {
          "id": "m8W5D6Ml6jkdbYon",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "diary_days",
          "mode": "list",
          "cachedResultName": "diary_days"
        },
        "where": {
          "values": [
            {
              "column": "user_id",
              "value": "={{ $json.id }}"
            },
            {
              "column": "date",
              "value": "={{ $now.format('yyyy-MM-dd') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1000,
        520
      ],
      "id": "adc19fa2-f7e5-4a5f-a9c7-a4fcd57ca66e",
      "name": "Postgres",
      "credentials": {
        "postgres": {
          "id": "m8W5D6Ml6jkdbYon",
          "name": "Postgres account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Lista usuarios",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evolution API": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Evolution API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Se existe": {
      "main": [
        [
          {
            "node": "Se for eu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Se for eu": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lista usuarios": {
      "main": [
        [
          {
            "node": "Se existe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": {},
  "versionId": "c82a08e4-44b4-48b8-8248-ebb9c6e5c522",
  "triggerCount": 1,
  "tags": []
}