insererefeicaosupabase-.json
{
  "createdAt": "2025-05-13T02:03:01.561Z",
  "updatedAt": "2025-05-13T02:03:01.561Z",
  "id": "8d9fZQyyj1MRsgZV",
  "name": "InsereRefeicaoSupabase",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "alimentos",
              "type": "array"
            },
            {
              "name": "diary_day_id"
            },
            {
              "name": "tipo_refeicao_id",
              "type": "number"
            }
          ]
        }
      },
      "id": "0efee1ff-ac75-4363-9ccf-3fe5bb3908b4",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -560,
        260
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d719e511-2ebb-4e38-adc4-c52598fa006f",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -140,
        260
      ],
      "id": "913b3d47-958c-4904-9894-aaacc463e80b",
      "name": "If"
    },
    {
      "parameters": {
        "tableId": "meals",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "diary_day_id",
              "fieldValue": "834e9ed3-471f-4787-b647-71d281dbebf9"
            },
            {
              "fieldId": "meal_type_id",
              "fieldValue": "1"
            },
            {
              "fieldId": "time_consumed",
              "fieldValue": "={{ $now.format('yyyy-MM-dd HH:MM:s') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "3475656c-b0b5-4e3b-b57b-88f105208230",
      "name": "Create meals",
      "disabled": true
    },
    {
      "parameters": {
        "tableId": "food_items",
        "dataToSend": "autoMapInputData"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1060,
        240
      ],
      "id": "b60638e1-7a60-472c-a238-f072032bc090",
      "name": "Insere Alimento",
      "credentials": {
        "supabaseApi": {
          "id": "Q6au73rD3NBpnLGb",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "alimentos",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        640,
        240
      ],
      "id": "bacda327-76b0-4b1b-bcf3-e4af9bd4743d",
      "name": "Split Out"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "meals",
        "filters": {
          "conditions": [
            {
              "keyName": "meal_type_id",
              "keyValue": "={{ $json.tipo_refeicao_id }}"
            },
            {
              "keyName": "diary_day_id",
              "keyValue": "={{ $json.diary_day_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -340,
        260
      ],
      "id": "1950e953-a19f-44f9-9d83-711c4372a2d5",
      "name": "Verifica meals de hoje",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "Q6au73rD3NBpnLGb",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6f9a69e4-c336-40cd-975d-10a4b0dede25",
              "name": "alimentos",
              "value": "={{ $('When Executed by Another Workflow').item.json.alimentos }}",
              "type": "array"
            },
            {
              "id": "10b891b1-5f19-458d-a001-729dd1e34d99",
              "name": "meal.id",
              "value": "={{ $('If').item.json.id || $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        440,
        240
      ],
      "id": "d6a7822b-fc38-4e54-98ec-4d6ef8f8b636",
      "name": "Globals"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "food_items",
        "filters": {
          "conditions": [
            {
              "keyName": "meal_id",
              "condition": "is",
              "keyValue": "NULL"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "meal_id",
              "fieldValue": "={{ $('Globals').item.json.meal.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1240,
        240
      ],
      "id": "2be231b8-8071-4bfd-a4bc-d96f3f9fa25f",
      "name": "Atualiza meal_id",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "Q6au73rD3NBpnLGb",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        860,
        240
      ],
      "id": "20f1fc59-8ab7-4d59-b96b-30617b268349",
      "name": "Remove Duplicates"
    },
    {
      "parameters": {
        "tableId": "meals",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "diary_day_id",
              "fieldValue": "={{ $('When Executed by Another Workflow').item.json.diary_day_id }}"
            },
            {
              "fieldId": "meal_type_id",
              "fieldValue": "={{ $('When Executed by Another Workflow').item.json.tipo_refeicao_id }}"
            },
            {
              "fieldId": "time_consumed",
              "fieldValue": "={{ $now.format('yyyy-MM-dd HH:MM:s') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        160,
        480
      ],
      "id": "638ec5a6-6c32-4b93-8b98-2779cadec393",
      "name": "new_meals",
      "credentials": {
        "supabaseApi": {
          "id": "Q6au73rD3NBpnLGb",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "food_items",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "meal_id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        160,
        240
      ],
      "id": "768d59c5-8ce8-4552-850a-35652ab6c008",
      "name": "delete_food_items",
      "alwaysOutputData": true,
      "executeOnce": false,
      "credentials": {
        "supabaseApi": {
          "id": "Q6au73rD3NBpnLGb",
          "name": "Supabase account"
        }
      }
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Verifica meals de hoje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "delete_food_items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "new_meals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verifica meals de hoje": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insere Alimento": {
      "main": [
        [
          {
            "node": "Atualiza meal_id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Globals": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates": {
      "main": [
        [
          {
            "node": "Insere Alimento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "new_meals": {
      "main": [
        [
          {
            "node": "Globals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "delete_food_items": {
      "main": [
        [
          {
            "node": "Globals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "833966ba-e1a1-4fb3-85ea-2d93f5d4041a",
  "triggerCount": 0,
  "tags": []
}